@model List<MvsStok.Models.Entity.TBLURUNLAR> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Id</th>
        <th>Ürün Adı</th>
        <th>Markası</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.URUNID</th>
                <td>@item.URUNAD</td>
                <td>@item.MARKA</td>
                <td>@item.URUNKATEGORI</td>
                <td>@item.FIYAT</td>
                <td>@item.STOK</td>
                <td><a href="/Product/Delete/@item.URUNID," class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/Create/@item.URUNID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Product/CreateProduct/" class="btn btn-primary">Yeni Ürün</a>